body{
    margin: 0%;
}

div.container{
    width: 100%;
    margin: 0%;
    display: flex;
}

div.section1{
    float: left;
    width: 45%;
    height: 59.7ch;
    background-color: rgb(255, 250, 250);
    margin: 0%;
    text-align: center;
    font-family: 'Libre Bodoni';
}

h1.titulo{
    font-family: 'Libre Bodoni';
    margin-bottom: -1%;
    font-size: 40px;
}

p.desc{
    font-family: 'Libre Bodoni';
    margin-bottom: 5%;
    font-size: 17px;
    color: rgb(158, 155, 155);
}

form div.info{
    text-align: start;
    margin-left: 22%;
    margin-bottom: 3%;
}

form div.info label{
    font-size: 18px;
}


form div.info input{
    border: solid 2px rgb(218, 218, 218);
    background-color: rgb(255, 250, 250);
    color: rgb(158, 155, 155);
    padding-left: 4%;
    padding-right: 29%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 15px;
    font-family: 'Libre Bodoni';
    margin-top: 2%;
}

button{
    padding-left: 20%;
    padding-right: 20.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    margin-right: 5%;

    background-color: black;
    border: black;
    color: white;
    font-family: 'Libre Bodoni';
   
}

div.login{
    margin-top: 5%;
}

div.login p{
    display: inline;
    color: rgb(158, 155, 155);
}

div.login a{
    color: black;
    text-decoration: none;
}

div.section2{
    float: left;
    height: 69.5ch;
    width: 55%;
    margin: 0%;
    overflow: hidden;
    font-family: 'Libre Bodoni';
}

img.Capa{
    width: 100%;
    margin-top: -15%;
}