body {
    background-image: linear-gradient(180deg, black, rgb(102, 16, 102));
    color: #fff;
    margin: 0;
    padding: 0;
}
.divisao{
    background-color: blue;
    height: 100px;
    width: 100%;
}
.maior{
    background-color: #0f0;
}
.menor{
    background-color: #f00;
}