*{
    margin: 0;
    padding: 0;
}
Body{
    background-color: #232528;
    color: #fff;
    font-weight: 100;
    font-family: century gothic;
    font-size: 20px;
    text-align: center;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 15px;
    margin: 1.5% 0;
    transition: 0.5s;
    cursor: pointer;
    background-color: #2a2a72;
    color: rgb(255, 200, 0);
    font-weight: 700;
    border: 2px solid #fff;
}
button:hover{
    transition: 0.5s;
    background-color: #3c2060;
    height: 55px;
    width: 210px;
}
.calcular{
    display: block;
    height: 500px;
    width: 100%;
}
.title{
    background-image: linear-gradient(90deg, #2a2a72, #232528);
    height: 80px;
    width: 100%;
    padding: 5px 0;
}
.divisao{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding: 1%; */
}
h2{
    height: 50px;
    width: 20%;
    background-image:linear-gradient(90deg, #ffa400, #ffc353);
    margin: 0.5% 0;
    border-radius: 20px;
    border: 3px solid #fff; 
    padding: 10px;
}
.image {
    height: 350px;
    width: 20%; 
    transition: 1s;
}
.image:hover{
    transition: 1s;
    height: 370px;
    width: 21%;
}
.imcCompleto{
    display: none;
    height: 500px;
    width: 100%;
}
.divisao2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div1{
    width: 30%;
    margin: 3% 0;
    font-weight: 500;
    font-family: century gothic;
    font-size: 25px;
}

